.card {
  border-radius: 0;
}

.card-header {
  //background-color: #2c98f0;
  background-color: #f2f3f7;
  border-radius: 0;
  border-bottom: 0;
  cursor: pointer;

  h5 {
    background-color: transparent;
    border: 0;
    // color: #fff;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  i{
    font-size: 12px;
  }
}

.card-body {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.7);
}
