<aside id="sidebar" class="border px-3 py-5">
  <div class="text-center">
    <img src="../../../assets/images/about.jpg.webp" class="img-fluid mb-4" />
    <h4 class="title">Jackson Ford</h4>
    <p class="job"><span class="text-primary">UI/UX/DESIGNER</span> IN PHILIPPINES</p>
  </div>

  <nav class="navbar">
    <ul class="w-100 text-center px-0">
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
      <li><a routerLink="/skills" routerLinkActive="active">Skills</a></li>
      <li>
        <a routerLink="/education" routerLinkActive="active">Education</a>
      </li>
      <li>
        <a routerLink="/experience" routerLinkActive="active">Experience</a>
      </li>
      <li><a routerLink="/work" routerLinkActive="active">Work</a></li>
      <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>

  <small class="copyright"
    >© Copyright ©
    <script>
      document.write(new Date().getFullYear());
    </script>
    2024 All rights reserved | This template is made with
    <i class="icon-heart" aria-hidden="true"></i> by
    <a href="https://colorlib.com" target="_blank">Colorlib</a>
    <span
      >Demo Images:
      <a href="https://unsplash.com/" target="_blank">Unsplash.com</a></span
    ></small
  >
</aside>
